# Calories Burnt Prediction
This file contains project: Calories Burnt Prediction Using Machine Learning In this project we are using Data freely available on Kaggle:https://www.kaggle.com/datasets/fmendes/fmendesdat263xdemos

## Problem Statement 
Calculation of calories burt while exercising is an important part of exercice. It helps onw to keep track of how is one improving. These days there are multiple moredern day devices which can detect calories burnt during an exercise session. But those devices are not in reach of everybody hence by making this model it will become easy for a person to predict how many calories he or she burnt During stipulated time.

## About Dataset 
The Dataset contains 2 files 
1. exercise.csv
    
    Contains 8 columns
    - User_ID
    - Gender
    - Age
    - Height
    - Weight
    - Duration
    - Heart_Rate
    - Body_Temp
2. calories.csv
    
    Contains 2 column
    - User_ID
    - Calories

## Importing Libraries and Dependencies

In [3]:
# Normal Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [4]:
# Model Imports

In [5]:
# Model Evaluation imports

## Data Collection

Reading Calories.csv file this is our target variable and user id can be used as forign key for other file

In [6]:
calories = pd.read_csv("calories.csv")

In [7]:
calories.sample(5)

       User_ID  Calories
2409  13027788     110.0
3553  14230977     152.0
311   18107311     156.0
9698  19470176      38.0
6629  18341246      61.0

Reading Exercise.csv this is our data part which is used to predict target variable

In [8]:
exercise_data = pd.read_csv("exercise.csv")

In [9]:
exercise_data.sample(5)

        User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
13843  13400397    male   28   198.0    99.0      21.0       101.0       40.5
3528   18137480  female   49   174.0    72.0      20.0       100.0       40.6
8019   11824994  female   46   161.0    63.0      23.0        99.0       40.5
4789   18682151    male   38   201.0   101.0       8.0        87.0       39.7
9771   13894605  female   60   174.0    77.0       5.0        92.0       39.2

As there is a relation between both files lets make this as one data dataset

## Data Analysis and Feature engneering

## Seprating Data and Label

## Train Test Spilt

## Model Selection, Model Traing and Model Evaluation

## Making Pikle file for Model

In [1]:
# Make ing of .pkl file